* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: portfont;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #ffffff00;
}

main{
  background: linear-gradient(to bottom, #5f6874, #888e96, #b5babd, #D2D4C8, #E0E2DB );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  box-sizing: border-box;
  width: 100vw;
  height: 4.76vh;
  position: fixed;
  top: 0;
  background-color: #cecececc;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  transition: 0.5s;
}

.header:hover {
  .logo {
    color: #13203d;
  }

  .topbar {
    color: #13203d;
  }

  .topbar svg{
    fill: #13203d;
    background-color: #ffffff00;
  }

  .button {
    color: #13203d;
  }

  .hireme {
    color: #13203d;
    border: 0.12vw solid #13203d;
    background-color: #00649300;
  }

  background-color: #cecececc;
  transition: 0.5s;
}

a {
  /* font-size: 2.5vw; */
  color: #13203d;
  transition: 0.25s;
}

a:hover {
  font-weight: 700;
  background-color: none;
  transition: 0.25s;
}

#logo {
  color: #13203d;
  /* margin-right: 15vw; */
  font-weight: 700;
  font-size: 2vw;
}

.topbar {
  font-size: 1.3vw;
  padding: 1vw;
  font-weight: 500;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wave {
  font-family: "Luckiest Guy", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 7vw;
}

#wave-effect{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salute{
  font-weight: 900;
  font-size: 3vw;
}

.section0 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00000096;
  /* background-color: #e8f1f2; */
}

.spec {
  font-size: 1.33vw;
  font-weight: 500;
  /* color: #13293d; */
  color: #13203d;
  align-items: center;
  justify-content: center;
}

.welcome {
  width: 100vw;
  padding: 0.6vw;
  /* padding-top: 275px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hireme {
  height: 3vh;
  width: 8vw;
  border-radius: 20px;
  border: 2px solid #13203d;
  background-color: #ffffff00;
}

.hireme:hover {
  border: 4px solid;
  transition: 0.25s;
}

.button {
  font-size: 1vw;
  color: #13203d;
  font-weight: 500;
  border: 4px;
  transition: 0.25s;
}

.section1 {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lightcoral; */
}

.newbie {
  margin-left: 5vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
}

.section2 {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  /* background-color: lightgoldenrodyellow; */
}

.image {
  width: 50%;
  padding: 1.2vw;
}

#image2{
  width: 40vw;
}
#image3{
  width: 40vw;
  margin-right: 10vw;
}
#image4{
  margin-left: 5vw;
  width: 35vw;
}

.degreeintro {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  /* padding: 10px; */
  margin-right: 5vw;
}

.section3 {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  /* background-color: #daeaff; */
}

.blenderintro {
  width: 100vw;
  /* padding: 10px; */
  margin-left: 5vw;
}

/* contact details */

.footer{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftsection{
  margin: 5vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.social{
  width: 18vw;
  display: flex;
  justify-content: space-between;
}

/* .rightsection{
  margin: 10vw;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.mail{
  margin: 5vw;
  height: 15vw;
  width: 25vw;
  background-color: #00000015;
  border-radius: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone{
  margin: 5vw;
  height: 15vw;
  width: 25vw;
  background-color: #00000015;
  border-radius: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar{
  a{
    color: #13203d;
  }
  position: fixed;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
  z-index: 999;
  display: none;
  background-color: #cecececc;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  flex-direction: column;
  transition: 0.3s;
}
.hidden-sidebar {
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
}

.menubutton{
  display: none;
}

.topbar svg{
  margin-top: 5px;
  fill: #13203d;
}

@media  screen and (max-width:1200px) {
  
  .header {
    height: 10vh;
  }

  a {
    font-size: 1.8vh;
  }

  .hireme {
    height: 3.2vh;
    width: 12vw;
  }

  .button {
    font-size: 1.8vw;
  }

  .navbar {
    margin-left: 10vw;
  }

  #logo {
    font-size: 3vw;
    margin-right: 10vw;
  }

  .topbar{
    font-size: 2vw;
  }

  .wave-effect {
    width: 80vw;
  }

  .wave {
    font-size: 8vw;
  }

  .spec {
    font-size: 2vw;
  }

  .section1 {
    height: 100vh;
    flex-direction: column-reverse;
    /* justify-content: center; */
  }

  .newbie{
    margin: 0vw;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #image2{
    width: 70vw;
  }

  .section2{
    height: 100vh;
    flex-direction: column;
  }

  .degreeintro {
    align-items: center;
  }

  #image3{
    margin: 0vw;
    width: 70vw;
  }

  .section3{
    height: 100vh;
    flex-direction: column-reverse;
  }

  .blenderintro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #image4{
    margin: 0vw;
    width: 70vw;
  }

  .footer{
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
